<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Spagetti och Köttfärsås</mat-card-title>
      <mat-card-subtitle>ingredienser:</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <app-list></app-list>
    <img
      mat-card-xl-image
      src="https://assets.icanet.se/e_sharpen:80,q_auto,dpr_1.25,w_718,h_718,c_lfill/imagevaultfiles/id_101412/cf_259/spaghetti_och_kottfarssas.jpg"
      alt=""
    />
  </mat-card-content>
  <mat-card-actions>
    <app-button text="Add" color="blue"></app-button>
    <app-button text="Edit" color="hotpink"></app-button>
    <app-button text="Delete" color="darkorange"></app-button>
  </mat-card-actions>
</mat-card>
